*~
*.c#
*.o
src/*.c~
src/*.c#
src/*.o
/coding-style-checker/
.log
.out
/test/
bsq
Book1ThePhilosophersStone.txt
/lib/Book1ThePhilosophersStone.txt
/lib/Makefile
/lib/.git/
build.sh
a.out
*.code-workspace
lib/coding-style-checker/
lib/coding-style-reports.log
coding-style-reports.log
